.vs
{
    width:150px;
    height:350px;
    border-radius: 25px;
    position: relative;
    font-size:55px;
}

.for-begginig {
    background-color: rgba(5, 5, 5, 0.9);
}

.add-game-container{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;

}

.position {
    font-size: 22pt;
    margin: auto;
    position: center;
    padding-top:20px;
}
.team-container {
    margin: 0;

}

.add-game-1 {
    margin: auto;
}

.image-container-2{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    padding: 1px;
}
.add-game-buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-top: 30px;
}
.one-button {
    margin: 10px;
    padding: 10px;
}