.parent{
    position: absolute;
    max-width:495px;
    max-height: auto;
    border: 2px solid #aaaaaa;
}
.child{
    position: relative;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #333333;
    border: 1px solid blue;
}