.img-container{
    width: 85px;
    height: 85px;
    border-radius: 42px;
    padding: 1px;
}
.link {
    text-decoration: none;
}

.game-container{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.5;
    transition: 0.5s;
}

.game-container:hover {
    scale: 1.1;
    opacity: 1;
}

.position {
    font-size: 22pt;
    margin: auto;
    position: center;
    padding-top:20px;
}
.team-container {
    margin: 10px;
    padding: 0;
    width: 180px;

}
.team-container-2 {
    margin: 10px;
    padding: 0;
    width: 70px;

}
.special-game-container{
    width: 500px;
    height: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: center;
    opacity: 0.5;
    transition: 0.5s;
}
.special-game-container:hover {
    scale: 1.1;
    opacity: 1;
}