.main-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
}
.simple-dashboard {
    margin-bottom: 75px;
}

.link-dashboard {
    text-decoration: none;
    transition: 0.3s;
}

.link-dashboard:hover {
    color: rgba(151, 27, 27, 0.521);
    scale: 1.1;
}