<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <h1>home</h1>
        {% for i in h %}
        <p>{{ i.name }} and {{ i.created_at }}</p>
        {% endfor %}
        {% comment %}
        <h1>hello</h1>
        {% for i in n %}
        <p>{{ i.name }}</p>
        <p>{{ i.news }}</p>
        <hr>
        {% endfor %}

        {% endcomment %}
        {% for i in c %}
        <p>{{ i.name }} and cT{{ i.content_type.id }} and id{{ i.object_id }}</p>
        {% endfor %}
    </div>
</body>
</html>