<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div align="center">-->
<!--        <h1>ind2</h1>-->
<!--        {% for i in game %}-->
<!--        <p>{{ i.name }}</p>-->
<!--        <p>{{ i.win }}</p>-->
<!--        <hr>-->
<!--        {% endfor %}-->
<!--        <hr>-->
<!--        <hr>-->
<!--                {% for i in ts %}-->
<!--        <p>{{ i.name }} -&#45;&#45;games {{ i.games }}</p>-->
<!--         <p>{{ i.name }} -&#45;&#45;winss!  {{ i.won }}</p>-->
<!--        <hr>-->
<!--        {% endfor %}-->
<!--        {{ i.win }}-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->